*.elc
/auto-save-list
/backups
/bookmarks
/elpa
/eshell
/history
/ido.last
/.mc-lists.el
/.org-id-locations
/.places
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server
/session.*
/smex-items
/tramp
/transient
/url
